.profile-block {
    display: grid;
    overflow: hidden;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        'profile-img'
        'profile-info';
}

.profile-img {
    grid-area: profile-img;
    align-self: center;
    justify-self: center;
    margin: 50px 0 0 0;
}

.profile-img > div {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}
.profile-img > div > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.profile-info {
    grid-area: profile-info;
    align-self: center;
    justify-self: center;
    font-size: 24pt;
}

.text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--main-color);
}