.all-block {
    width: 100%;
    background-image: url(https://techrocks.ru/wp-content/uploads/2018/12/1.jpeg);
    min-width: 320px;
    color: white;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/* При ширине страницы больше чем 640px */
@media (min-width: 640px) {
    .header {
        z-index: 50;
        display: grid;
        position: fixed;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 100%;
        grid-template-areas: 'header-logo header-links header-profile';
        width: 100%;
        background-color: rgba(58, 58, 58, 0.9);
        height: 39px;
        border-bottom: 1px solid rgb(80, 80, 80);
    }

    .header a {
        text-decoration: none;
        color: white;
        transition: 0.25s;
    }

    .header a:hover {
        color: coral;
    }
    
    .header-logo {
        grid-area: header-logo;
        align-self: center;
        justify-self: center;
    }
    
    .header-links {
        grid-area: header-links;
        align-self: center;
        justify-self: end;
        margin-left: 10px;
    }
    
    .header-links > a {
        margin-left: 30px;
    }
    
    .header-profile {
        grid-area: header-profile;
        align-self: center;
        justify-self: center;
    }

    .main {
        height: 800px;
        margin: 0 auto;
        padding: 60px 0;
        width: 80%;
        min-width: 320px;
        max-width: 960px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 300px 300px;
        grid-template-areas:
        'profile-block profile-block something-block'
        'third-block fourth-block fifth-block';
        gap: 20px;
    }

    .content-block {
        border-radius: 10px;
        background-color: rgba(58, 58, 58, 0.9);
        width: 100%;
        height: 100%;
        overflow: hidden;
        text-align: center;
        cursor: pointer;
        transition: 0.2s;
    }

    .content-block:hover {
        transform: scale(1.01);
        background-color: coral;
    }

    .profile-block {
        display: grid;
        overflow: hidden;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 100%;
        grid-template-areas: 'profile-img profile-info';
        grid-area: profile-block;
    }

    .something-block {
        grid-area: something-block;
        align-self: center;
        justify-self: center;
    }

    .third-block {
        grid-area: third-block;
        align-self: center;
        justify-self: center;
    }

    .fourth-block {
        grid-area: fourth-block;
        align-self: center;
        justify-self: center;
    }

    .fifth-block {
        grid-area: fifth-block;
        justify-self: center;
        align-self: center;
    }
    
    /* Спроси у Макса зачем тут коммент*/
    .profile-img {
        grid-area: profile-img;
        align-self: center;
        justify-self: start;
        margin-left: 30px;
    }
    .profile-img > div {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
    }
    .profile-img > div > img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .profile-info {
        grid-area: profile-info;
        align-self: center;
        justify-self: start;
        font-size: 16pt;
    }

    /*Footer*/
    .footer {
        margin: auto;
        width: 100%;
        min-width: 320px;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 100px;
        grid-template-areas: 'footer-email footer-contacts';
        background-color: rgba(58, 58, 58, 0.8);
        border-top: 1px solid rgb(80, 80, 80);
    }
    
    .footer-email {
        grid-area: footer-email;
        justify-self: start;
        align-self: center;
    }
    
    .input-form {
        margin-left: 15px;
        width: 100%;
        height: 75px;
        text-align: center;
    }

    .input-form:focus::-webkit-input-placeholder {
        color:transparent;
        transition: 0.5s;
    }


    .footer-contacts {
        grid-area: footer-contacts;
        justify-self: end;
        align-self: center;
        margin-right: 50px;
    }
}



/* (Мобильная версия) При ширине страницы меньше чем 640px */
@media (max-width: 639px) {
    .header {
        min-width: 320px;
        position: fixed;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 100%;
        grid-template-areas: 'header-logo header-links header-profile';
        width: 100%;
        background-color: rgba(58, 58, 58, 0.9);
        z-index: 50;
        height: 40px;
    }

    .header a {
        text-decoration: none;
        color: white;
    }
    
    .header-logo {
        grid-area: header-logo;
        align-self: center;
        justify-self: center;
    }
    
    .header-links {
        grid-area: header-links;
        align-self: center;
        justify-self: center;
    }
    
    .header-profile {
        grid-area: header-profile;
        align-self: center;
        justify-self: center;
    }

    .main {
        height: 800px;
        margin: 0 auto;
        padding: 50px 0;
        grid-template-rows: 100px;
        width: 95%;
        display: grid;
        gap: 10px;
    }

    .content-block {
        background-color: rgba(58, 58, 58, 0.9);
        width: 100%;
        height: 100%;
        border-radius: 10px;
        overflow: hidden;
        text-align: center;
    }
    
    .profile-block {
        display: grid;
        overflow: hidden;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 100%;
        grid-template-areas: 'profile-img profile-info';
    }
    .something-block {
        justify-self: center;
        align-self: center;
    }
    .third-block {
        justify-self: center;
        align-self: center;
    }
    .fourth-block {
        justify-self: center;
        align-self: center;
    }
    .fifth-block {
        justify-self: center;
        align-self: center;
    }

    /* Спроси у Макса зачем тут коммент*/
    .profile-img {
        grid-area: profile-img;
        align-self: center;
        justify-self: center;
    }
    .profile-img > div {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
    }
    .profile-img > div > img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .profile-info {
        grid-area: profile-info;
        align-self: center;
        justify-self: start;
        font-size: 12pt;
    }

    /*Footer*/
    .footer {
        display: grid;
        grid-template-rows: 100px;
        width: 100%;
        background-color: rgba(58, 58, 58, 0.9);
        border-top: 1px solid rgb(80, 80, 80);
    }
    
    .footer-email {
        justify-self: center;
        align-self: center;
    }
    
    .input-form {
        width: 100%;
        height: 50px;
        text-align: center;
    }
    
    .footer-contacts {
        justify-self: center;
        align-self: center;
    }
}


.footer-contacts > ul{
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.footer-contacts > ul > li {
    margin: 10px 0;
}


.footer-contacts > ul > li > a {
    text-decoration: none;
    color: white;
    transition: 0.25s;
}

.footer-contacts > ul > li > a:hover {
    color: coral;
}








