@media (min-width: 641px) {
    .main {
        height: 800px;
        margin: 0 auto;
        padding: 60px 0;
        width: 80%;
        min-width: 320px;
        max-width: 960px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 300px 300px;
        grid-template-areas:
        'profile-block profile-block something-block'
        'third-block fourth-block fifth-block';
        gap: 20px;
    }
    .content-block {
        border-radius: 10px;
        background-color: var(--main-background-elements-color);
        width: 100%;
        height: 100%;
        overflow: hidden;
        text-align: center;
        cursor: pointer;
        transition: 0.2s;
    }
    .content-block:hover {
        transform: scale(1.01);
        background-color: var(--main-hover-color);
    }
    .profile-block {
        display: grid;
        overflow: hidden;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 100%;
        grid-template-areas: 'profile-img profile-info';
        grid-area: profile-block;
    }
    .something-block {
        grid-area: something-block;
        align-self: center;
        justify-self: center;
    }
    .third-block {
        grid-area: third-block;
        align-self: center;
        justify-self: center;
    }
    .fourth-block {
        grid-area: fourth-block;
        align-self: center;
        justify-self: center;
    }
    .fifth-block {
        grid-area: fifth-block;
        justify-self: center;
        align-self: center;
    }
    /* Спроси у Макса зачем тут коммент*/
    .profile-img {
        grid-area: profile-img;
        align-self: center;
        justify-self: start;
        margin-left: 30px;
    }
    .profile-img > div {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
    }
    .profile-img > div > img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .profile-info {
        grid-area: profile-info;
        align-self: center;
        justify-self: start;
        font-size: 16pt;
    }
}

@media (max-width: 640px) {
    .main {
        height: 800px;
        margin: 0 auto;
        padding: 50px 0;
        grid-template-rows: 100px;
        width: 95%;
        display: grid;
        gap: 10px;
    }
    .content-block {
        background-color: var(--main-background-elements-color);
        width: 100%;
        height: 100%;
        border-radius: 10px;
        overflow: hidden;
        text-align: center;
    }
    .profile-block {
        display: grid;
        overflow: hidden;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 100%;
        grid-template-areas: 'profile-img profile-info';
    }
    .something-block {
        justify-self: center;
        align-self: center;
    }
    .third-block {
        justify-self: center;
        align-self: center;
    }
    .fourth-block {
        justify-self: center;
        align-self: center;
    }
    .fifth-block {
        justify-self: center;
        align-self: center;
    }
    /* Спроси у Макса зачем тут коммент*/
    .profile-img {
        grid-area: profile-img;
        align-self: center;
        justify-self: center;
    }
    .profile-img > div {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
    }
    .profile-img > div > img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .profile-info {
        grid-area: profile-info;
        align-self: center;
        justify-self: start;
        font-size: 12pt;
    }
}
