.background {
    background-color: var(--main-background-color);
}

.background .main {
    margin: 0 auto;
    padding: 60px 0;
    width: 80%;
    min-width: var(--min-width);
    max-width: var(--max-width);
    gap: 20px;
}

@media (max-width: 640px) {
    .main {
        padding: 50px 0;
        width: 95%;
        gap: 10px;
    }
}
