.header {
    position: fixed;
    display: flex;
    width: 100%;
    background-color: var(--main-background-elements-color);
    height: 40px;
    border-bottom: 1px solid var(--main-border-color);
}

.header .wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 100%;
    grid-template-areas: 'header-logo header-links header-profile';
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
}

.header a {
    text-decoration: none;
    color: var(--main-text-color);
    transition: 0.25s;
}

.header a:hover {
    color: var(--main-hover-text-color);
}

.header .logo {
    grid-area: header-logo;
    align-self: center;
    justify-self: center;
}

.header .logotext {
    color: blue;
}

.header .links {
    grid-area: header-links;
    align-self: center;
    justify-self: center;
}

.header .links > a {
    margin-left: 30px;
}

.header .links > a:last-child {
    margin-right: 30px;
}

.header .profile {
    grid-area: header-profile;
    align-self: center;
    justify-self: center;
}

@media (max-width: 640px) {
    .header {
        min-width: var(--min-width);
        width: 100%;
        background-color: var(--main-background-elements-color);
    }

    .header .wrapper {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 100%;
        grid-template-areas: 'header-logo header-links header-profile';
        max-width: var(--max-width);
    }
}