.footer {
    margin: auto;
    width: 100%;
    min-width: var(--min-width);
    display: flex;
    background-color: var(--main-background-elements-color);
    border-top: 1px solid var(--main-border-color);
}

.footer .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
}

.footer .wrapper a {
    justify-self: center;
    align-self: center;
    list-style-type: none;
    text-align: center;
    margin: 10px 0;
    text-decoration: none;
    color: var(--main-text-color);
    transition: 0.25s;
}

.footer .wrapper a:hover {
    color: var(--main-hover-text-color);
}


@media(max-width: 640px){
    .footer .wrapper {
        grid-template-columns: 1fr;
    }

}





