.content-block {
    border-radius: 5px;
    background-color: var(--main-background-elements-color);
    width: 100%;
    height: 100%;
    max-height: 500px;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
    overflow-x: hidden;
    overflow-y: auto;
    
}

.content-block:hover {
    transform: scale(1.01);
    background-color: var(--main-hover-color);
}