body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --min-width: 320px;
  --max-width: 1024px;

  --yellow: #ffdd2d;
  --blue: #3e4757;
  --white: white;


  --main-color: var(--yellow);
  --main-text-color: var(--white);

  --main-background-image: none;
  --main-background-color: var(--white);
  --main-background-elements-color: var(--blue); 

  --main-hover-color: coral;
  --main-hover-text-color: coral;
  --main-border-color: rgb(29, 29, 29); /*rgb(255, 138, 138)*/
}