body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --min-width: 320px;
  --max-width: 720px;
  
  --main-color: rgb(228, 228, 228);
  --main-text-color: white;

  --main-background-image: none;
  --main-background-color: linear-gradient(20deg, rgb(82, 82, 82), rgb(255, 255, 255)) no-repeat;
  --main-background-elements-color: rgba(58, 58, 58, 0.9); 

  --main-hover-color: coral;
  --main-hover-text-color: coral;
  --main-border-color: rgb(80, 80, 80);
}