.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-top: 30px;
}

.anchors {
    margin: 20px 100px 0 100px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;

}

.translation {
    position: absolute;
    top: 20px;
    right: 20px;
}

.translation .button {
    background-color: transparent;
    outline: none;
}

.translation .button:hover {
    background-color: var(--button-hover);
}
