.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.anchors {
    margin: 20px 100px 0 100px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}